.a1 {
  list-style: none;
}
.a2 {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 0.8rem;
}
.a0 {
  /* background-color: lightgray; */
}

@media screen and (max-width: 480px) {
  .a0 {
    display: none;
  }
}

.a11 {
  width: 90%;
  margin: auto;
}
.a12 {
  width: 100%;
}
.a13 {
  font-family: "Lora", serif;
  font-family: "Monsieur La Doulaise", cursive;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

.a14 {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: fit-content;
}

/* crsl */

::selection {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 50px;
}

section {
  margin: 30px 0;
}

.movie-slide {
  background: #fff;
  color: #000;
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 13px;
}

.movie-slide:hover {
  transition: 1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 15px;
}

.container-title {
  display: flex;
  border-bottom: 2px solid;
  width: 110px;
  margin-left: 15px;
  font-size: 25px;
}

.movie-box {
  display: flex;
  overflow-x: scroll;
  padding: 10px 10px;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px;
}

.movie-info {
  margin: 5px 15px 8px 0px;
  scroll-snap-align: start;
}

.movie-info img {
  background: center center/cover no-repeat #ddd;
  border-radius: 0 0 10px 10px;
  width: 467px !important;
  height: 450px;
  object-fit: cover;
  
  object-fit: fill;
}

.movie-name {
  cursor: pointer;
  padding: 12px 0px;
  width: 200px;
  font-size: 1.8rem;
}

.review {
  font-size: 1.4rem;
  font-weight: 300;
}
.review .fa-solid {
  font-size: 1.8rem;
  color: #e53935;
  margin: 0 10px;
}

.all-btn {
  text-align: center;
  background-color: #3461af;
  border-radius: 10rem;
  margin: -15px auto 0;
  font-size: 1.2rem;
  font-weight: 600;
  width: 220px;
  max-width: 400px;
  padding: 10px;
}

.all-btn:active {
  transform: translateY(2px);
}

.a15{
  color: #706e6e;
}
